<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Website short description." />
<meta name="keywords" content="website main keywords" />
	<title>boardgames</title>
<link href="{% load adminmedia %}{% admin_media_prefix %}css/game_site_style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="container">

<div id="header"><h1>Board Games!</h1></div>

<div id="sub_header">Everyone loves board games!</div>

<div id="main_content_top"></div>

<div id="main_content">

<div class="content">
<h2>Board game details for {{ game.title }}</h2>

<!img src="{% load adminmedia %}{% admin_media_prefix %}img/{{ game.image }}" boarder=0>
<img src="{{ game.image_name }}" boarder=0>
<p>Title: {{ game.title }}</p>
<p>Description: {{ game.description }}</p>
<p>Publisher: <a href="/games/list/{{ game.id }}/publisher/" class="menu_link">{{ game.publisher }}</a><br>
    Year: <a href="/games/list/{{ game.id }}/year/" class="menu_link">{{ game.year_published }}</a><br>
    Min number players: <a href="/games/list/{{ game.id }}/min/" class="menu_link">{{ game.minplayers }}</a><br>
    Max number players: <a href="/games/list/{{ game.id }}/max/" class="menu_link">{{ game.maxplayers }}</a><br>
    Genre: <a href="/games/list/{{ game.id }}/genre/" class="menu_link">{{ game.genre }}</a>
</p>

<h3>Average rating - {{ average_rating.rating__avg }}</h3>
<p>
{% for rating in game.rating_set.all %}
    {{ rating.name }} rates this game a {{ rating.rating }}
    {% if rating.comment %}
        - {{ rating.comment }}
    {% endif %}
    <br>
{% endfor %}
</p>

<h4>Rate this game</h4>
<form action="/games/rate/{{ game.id }}/" method="post">
{% csrf_token %}
    <table>
    <tr><td>Name:</td><td><input type="text" name="name" size="20"/></td></tr>
    <tr><td>Rating:</td><td><input type="text" name="rating" size="20"/></td></tr>
    <tr><td>Comment: <br>optional </td><td><textarea name="comment" cols="50" rows="3"/></textarea></td></tr>
    <tr><td><input type="submit" value="Submit" /></td><td><p>{{ error_message }}</p></td></tr>
    </table>
</form>
<p class="quote">Last played on {{ game.last_played }}</p>

</div>

<div class="menu">
<div class="menu_title">Main menu</div>
<ul>
<li><a href="/games/" class="menu_link">Home</a></li>
<li><a href="/games/top/" class="menu_link">Top 10 games</a></li>
<li><a href="/games/about/" class="menu_link">About</a></li>
</ul>
</div>

<div id="clear"></div>

</div>

<div id="main_content_bottom">
</div>

<div id="footer"><strong>Copyright &copy; 2011</strong> | <a href="http://block115384-uav.blueboxgrid.com/games/">Home</a> | <b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a></div>

</div>

</body>

</html>
